.montage__wrap {
    display: block;
    padding: 5px;
}
.montage__wrap .montage__item {
    background-position: 0 center;
    padding-left: 27px;
    display: block;
    background-repeat: no-repeat;
    font-size: 16px;
    max-width: 120px;
    margin: 0 auto;
    min-height: 25px;
}



.montage__wrap .montage__item_montage {
    background-image: url(../img/repairing-service.png);
}
.montage__wrap .montage__item_leaves {
    background-image: url(../img/logistics-delivery-truck-in-movement.png);
}
.montage__wrap .montage__item_garant {
    background-image: url(../img/guarantee.png);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1000;
    display: none;
    background-color: rgba(0,0,0,.6);
}
.modal__wrapper {
    background-color: #fff;
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
}
.modal__close {

    background-image: url(../img/multiply.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    z-index: 1001;
    cursor: pointer;
    right: 10px;

}
.modal .tm_pb_contact_field .tm_pb_contact_form_input {
    width: 100% !important;
    display: block;
}
#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_slide_title::before {
    display: none !important;
}
.notifyjs-bootstrap-base {
    font-size: 14px;
}





/*Новые стили*/
.footer__nav ul {
    list-style-type: none;
    padding-left: 0;

}
.footer__nav ul li a {
    text-decoration: none;

}
.footer__nav ul li a:hover {
    text-decoration: underline;
}
.footer__nav ul li.active a {
    color: #878787;
}
.footer__nav ul li.active a:hover {
    color: #878787;
    text-decoration: none;
}

.header-feature button {
    margin-top: 22px;
}
.scroll-run .header-feature button {
    margin-top: 14px;
}
.pricing__list  {
    width: 50%;
    min-width: 250px;
    min-height: 25px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}
.pricing__list a {
    color: #000;
}
.pricing__title {
    color: #000;
    text-decoration: none;
}
.pricing__title:hover {
    color: #000;
    text-decoration: none;
}
.pricing-btn a {
    color: #000;
}
.pricing-btn a:hover {
    color: #000;
}
.breadcrumb {
    margin-bottom: 0;
    padding-top: 25px;
}
.tm_pb_pricing_content_top {
    text-align: center;
    margin: 0 auto;
}
.entry-content .tm_pb_pricing {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}
.entry-content .tm_pb_pricing li {
    padding-bottom: 5px;
    font-weight: 700;
}